<!DOCTYPE html>
<html lang="en">

<%- include("../patrials/head") %>
    <link rel="stylesheet" href="/static/styles.css">

    <body class="desfocar">
        <% if (email) { %>
            <div class="nome-container">
                <p style="color:#000000;" class="Nome Logado">
                    <%= email %>
                </p>
                <a href="/logout">
                    <button class="sair-btn">SAIR</button>
                </a>
            </div>
            <% } %>
                <center><br>
                    <h1>Campanha de <%= tipo %>
                    </h1>
                    <br>
                    <img src="/static/<%= tipo %>.png" alt="Imagem da campanha <%= tipo %>"
                        style="max-width:300px;"><br><br><br>
                    <a href="/doar/<%= tipo %>"><button>DOAR</button></a>
                    <a href="/ranking_<%= tipo %>"><button>RANKING</button></a><br><br>
                    <a href="/"><button type="submit">SAIR</button></a><br><br>
                </center>
                <%- include("../patrials/footer") %>
    </body>

</html>