<!DOCTYPE html>
<html lang="pt-BR">

<%- include("../patrials/head") %>

    <body>

        <!-- TOPO -->
        <footer class="footer-top">
            <a href="/">
                <img src="/static/maos_logo.png" alt="Logo" class="footer-logo">
            </a>

            <a href="/">
                <img src="/static/sair.png" alt="Voltar" class="footer-sair">
            </a>
        </footer>

        <!-- MENU -->
        <div class="sub-header">
            <% if (!isAdmin && !isDocente && !isAluno) { %>
                <a href="/cadastro">CADASTRAR</a>
                <a href="/login">LOGIN</a>
                <a href="/info">SOBRE O SITE</a>
                <a href="/cp">CAMPANHAS PARTICIPANTES</a>

                <% } else if (isAdmin) { %>
                    <a href="/info">SOBRE O SITE</a>
                    <a href="/cp">CAMPANHAS PARTICIPANTES</a>
                    <a href="/edicamp">GERENCIAR CAMPANHAS</a>
                    <a href="/ediusua">GERENCIAR USUÁRIOS</a>

                    <% } else if (isDocente) { %>
                        <a href="/info">SOBRE O SITE</a>
                        <a href="/cp">CAMPANHAS PARTICIPANTES</a>
                        <a href="/doar">ACESSAR CAMPANHAS</a>
                        <a href="/ranking">VER RANKING GERAL</a>

                        <% } else if (isAluno) { %>
                            <a href="/info">SOBRE O SITE</a>
                            <a href="/cp">CAMPANHAS PARTICIPANTES</a>
                            <a href="/ranking">VER RANKING GERAL</a>
                            <% } %>
        </div>

        <main class="campanhas-container">

            <h1>CAMPANHAS PARTICIPANTES</h1>
            
            <table>
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                </tr>

                <% campanhas.forEach(c=> { %>
                    <tr>
                        <td><img src="<%= c.imagem %>" width="80"></td>
                        <td>
                            <%= c.nome %>
                        </td>
                        <td>
                            <%= c.descricao %>
                        </td>
                    </tr>
                    <% }) %>
            </table>

        </main>

        <%- include("../patrials/footer") %>

    </body>

</html>