<!DOCTYPE html>
<html lang="pt-br">

<%- include("../patrials/head") %>

    <body>

        <footer class="footer-top">
            <img src="/static/maos_logo.png" alt="Logo" class="footer-logo">
            <div class="titulo-campanha">
                <span class="titulo-topo">CONECTA</span>
                <span class="titulo-base">SOLIDARIEDADE</span>
            </div>
            <div class="right-footer">
                <% if (email) { %>
                    <div class="user-info">
                        <p class="email-logado">
                            <%= email %>
                        </p>
                        <a href="/logout"><button class="sair-btn">SAIR</button></a>
                    </div>
                    <% } %>
            </div>
        </footer>

        <center>
            <div class="page-box">
                <h1>Campanhas Ativas</h1>

                <main>
                    <div class="cards">
                        <% campanhas.forEach(c=> { %>
                            <div class="card">
                                <img src="<%= c.imagem %>" alt="">
                                <h2>
                                    <%= c.nome %>
                                </h2>
                                <p>
                                    <%= c.descricao %>
                                </p>
                                <a href="/doar/<%= c.id %>">Doar</a>
                            </div>
                            <% }) %>
                    </div>
                </main>

            </div>

            <a href="/"><button>VOLTAR</button></a><br><br>
        </center>

        <%- include("../patrials/footer") %>
    </body>

</html>